[submodule "modules/wireless-tools"]
	path = modules/wireless-tools
	url = https://github.com/autr/wireless-tools
[submodule "modules/xpm2png"]
	path = modules/xpm2png
	url = https://github.com/autr/xpm2png
[submodule "dev/ini"]
	path = dev/ini
	url = https://github.com/npm/ini.git
[submodule "modules/ini"]
	path = modules/ini
	url = https://github.com/npm/ini.git
[submodule "modules/videocore"]
	path = modules/videocore
	url = https://github.com/autr/videocore
[submodule "modules/dataaa-api"]
	path = modules/dataaa-api
	url = https://github.com/autr/dataaa-api
