@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124; } }

.spinner {
  animation: rotate 2s linear infinite;
  transform-origin: 50% 50%; }
  .spinner circle {
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite; }

html body .sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  border-right: 1px solid mono(15%); }

html body .router {
  position: fixed;
  top: 0px;
  left: 200px;
  width: calc(100% - 200px);
  height: 100vh;
  overflow: auto;
  padding: 1em; }

html body .panel-tree, html body .panel-diff, html body .panel-history {
  overflow: auto;
  max-height: calc( 100vh - 80px); }

html body .filled .bb1-solid {
  border-color: var(--bg); }

html body .filled .cross {
  background-image: linear-gradient(to top left, transparent 0, transparent calc(50% - var(--stroke-width)), var(--bg) 50%, transparent calc(50% + var(--stroke-width)), transparent 100%), linear-gradient(to top right, transparent 0, transparent calc(50% - var(--stroke-width)), var(--bg) 50%, transparent calc(50% + var(--stroke-width)), transparent 100%); }

html body table thead th {
  font-weight: bold; }

html body svg {
  width: 100%;
  height: 100%; }
